.comments {
  overflow-y: auto;
  word-break: break-word;
  min-height: 200px;
  padding: 2rem 2rem 0 2rem;
}
.single.comments{
  padding: 0;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
